*.x470MV.map
*.x470MV
*.html
*.png
*.md5
*.css
*.chm
*.gif
*.hh*
cscope.*
*.o470MV
*.a470MV
*.mak
*_config/
.*
!.gitignore
tags
*.map
packages/ti/sdo/dmai/package/package.xdc.dep
packages/ti/sdo/dmai/package/ti.sdo.dmai.ccs
